# INSTALAÇÃO DAS BIBLIOTECAS

In [ ]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

# IMPORTAÇÃO DAS BIBLIOTECAS

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.types import TimestampType, IntegerType, StringType, DoubleType
from pyspark.sql.functions import col

# CRIAÇÃO DA APLICAÇÃO SPARK

In [ ]:
spark = SparkSession.builder.getOrCreate()

# VARIÁVEIS DE APOIO

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
arquivo = '/content/drive/My Drive/ARQ/DADOS_VOOS.parquet'

# LEITURA DO ARQUIVO PARQUET USANDO SPARK

In [ ]:
df_dados_voos = spark.read.format('parquet').options(header=True, inferSchema=True).load(arquivo)

# EXIBINDO UMA AMOSTRA DOS DADOS

In [ ]:
df_dados_voos.show()

+------+-----------+---------------+-------------+-------------------+-------------------+----------+-------------+
|origin|destination|        airline|flight_number|     departure_time|       arrival_time|passengers|delay_minutes|
+------+-----------+---------------+-------------+-------------------+-------------------+----------+-------------+
|   SDU|        SSA|            GOL|         1726|2023-07-06 11:10:10|2023-07-06 15:10:10|       145|           78|
|   REC|        FLN|           Azul|         6485|2023-05-25 01:06:09|2023-05-25 02:06:09|       107|           55|
|   FOR|        BSB|       Emirates|         4051|2023-07-14 22:20:55|2023-07-15 06:20:55|       136|           74|
|   REC|        GRU|           Azul|         8528|2023-05-30 07:45:50|2023-05-30 09:45:50|       153|          116|
|   FOR|        SDU|British Airways|         6470|2023-06-20 04:38:15|2023-06-20 08:38:15|       166|           16|
|   GRU|        REC|            GOL|         2257|2023-07-12 12:21:21|2023-07-12 15:21:21|       134|           16|
|   GRU|        SSA|British Airways|         5408|2023-06-09 18:39:04|2023-06-09 23:39:04|       187|           93|
|   FOR|        SSA|         United|         7334|2023-06-08 04:11:35|2023-06-08 09:11:35|        50|           24|
|   REC|        GRU|        Avianca|         2424|2023-07-07 15:23:31|2023-07-07 16:23:31|       131|           61|
|   CNF|        REC|        Avianca|          489|2023-05-21 17:55:37|2023-05-22 01:55:37|       113|          105|
|   SDU|        FOR|        Avianca|         2908|2023-05-28 19:38:10|2023-05-29 01:38:10|       120|           88|
|   FOR|        FLN|        Avianca|         9794|2023-06-05 08:47:13|2023-06-05 10:47:13|        71|           92|
|   SSA|        FLN|            GOL|          934|2023-06-27 00:17:24|2023-06-27 06:17:24|       132|           30|
|   SSA|        GRU|          LATAM|         2667|2023-07-14 18:20:09|2023-07-14 21:20:09|        75|            0|
|   CNF|        BSB|            TAP|         6819|2023-06-03 11:35:05|2023-06-03 16:35:05|       183|           82|
|   SSA|        FOR|          LATAM|         1525|2023-06-18 03:29:14|2023-06-18 07:29:14|       103|            8|
|   BSB|        FLN|            GOL|          561|2023-07-18 09:03:13|2023-07-18 15:03:13|        57|           57|
|   SDU|        GRU|          LATAM|         2517|2023-06-29 22:49:27|2023-06-30 02:49:27|       187|           46|
|   SDU|        BSB|         United|         2731|2023-06-24 19:30:52|2023-06-24 23:30:52|       131|           39|
|   GRU|        SSA|           Azul|         8362|2023-07-08 10:27:44|2023-07-08 17:27:44|        91|           38|
+------+-----------+---------------+-------------+-------------------+-------------------+----------+-------------+
only showing top 20 rows

# EXIBINDO OS METADADOS DO ARQUIVO

In [ ]:
df_dados_voos.printSchema()

root
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- flight_number: long (nullable = true)
 |-- departure_time: string (nullable = true)
 |-- arrival_time: string (nullable = true)
 |-- passengers: long (nullable = true)
 |-- delay_minutes: long (nullable = true)

# AJUSTAR O SCHEMA DOS DADOS, SE NECESSÁRIO

In [ ]:
df_dados_voos = df_dados_voos.withColumn('departure_time', col('departure_time').astype(TimestampType()))
df_dados_voos = df_dados_voos.withColumn('arrival_time', col('arrival_time').astype(TimestampType()))

df_dados_voos.printSchema()

root
 |-- origin: string (nullable = true)
 |-- destination: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- flight_number: long (nullable = true)
 |-- departure_time: timestamp (nullable = true)
 |-- arrival_time: timestamp (nullable = true)
 |-- passengers: long (nullable = true)
 |-- delay_minutes: long (nullable = true)